@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
body{
    align-items: center;
    justify-content: center;
}
nav{
    background:#076593;
    height:100px;
    width:100%;
}
label.logo{
    color:white;
    font-size: 35px;
    line-height: 90px;
    padding: 0 100px;
    font-weight: bold;
    word-spacing: 5px;
}
nav ul{
    float:right;
    margin-right:30px;
}
nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 19px;
    padding: 7px 13px;
    border-radius: 3px;
}
li a.active,li a:hover{
    background: #1388c3;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    padding-top: 25px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:last-child td {
    border-bottom: none;
}
button[type="submit"] {
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #076593;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button[type="submit"]:hover {
    background-color: #2790c5;
}
.message {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}
@media (max-width:1500px){
    label.logo{
        font-size:28px;
        padding-left:50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:1090px){
    label.logo{
        font-size:20px;
        padding-left:50px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #076593;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
        z-index: 6;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    a:hover,a.active{
        background: none;
        color:#fff;
        cursor: pointer;
    }
    #check:checked ~ ul{
        left:0;
    }
}