body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: #076593;
}
nav{
  background:#076593;
  height:100px;
  width:100%;
}
label.logo{
  color:white;
  font-size: 35px;
  line-height: 90px;
  padding: 0 100px;
  font-weight: bold;
  word-spacing: 5px;
}
.main {
    margin-top: 100px;
}
  .container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }

  .input-group select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background-image: url('https://cdn.jsdelivr.net/npm/font-awesome@6.0.0-beta3/svgs/solid/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
    width: 90%;
    cursor: pointer;
}
.input-group select:hover {
    border-color: #333;
}
.input-group select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7); 
    border-color: #007bff;
}
  
  .inputs {
    padding-left: 30px;
  }
  
  input {
    padding: 12px 20px 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
  }
  
  button {
    background-color: #076593;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #2988b8;
  }
  
  .links {
    text-align: center;
    margin-top: 20px;
  }
  
  .links a {
    text-decoration: none;
    color: #076593;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  .separator {
    margin: 0 10px;
  }

  .message{
    margin-left: 600px;
  }

  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
    }
  }

