<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/check_by_date.css')}}">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <label class="logo">HEALTH CONNECT</label>
        <ul>
            <li><a href="{{url_for('doctor_home')}}">HOME</a></li>
            <li><a class="active" href="{{url_for('check_by_date')}}">CHECK BY DATE</a></li>
            <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="message">
            {{msg}}
        </div>
        <h2>ENTER YOUR DATE</h2>
        <form action="check_by_date" method="POST" autocomplete="off">

            <label for="appointmentDate">Date</label>
            <input type="date" id="date" name="date" required>

            <input type="submit" value="GET DETAILS">
        </form>
        <table > 
            <caption>YOUR APPOINTMENTS</caption>
            <tbody> 
                <tr> 
                    <th>Application ID</th> 
                    <th>Patient Name</th>
                    <th>Hospital</th>
                    <th>Time</th>    
                    <th>Disease</th> 
                    <th>Documents</th>             
                </tr>
                {% for entry in data %}
                <tr>
                    <form action="appointment" method="POST">
                    <td>{{ entry['ID'].strip() }}</td>
                    <td>{{ entry['PATIENT_NAME'].strip() }}</td>
                    <td>{{ entry['HOSPITAL'].strip() }}</td>
                    <td>{{ entry['SLOT'].strip() }}</td>
                    <td>{{ entry['DISEASE'].strip() }}</td>
                    {% if entry['LINK'].strip() == "No Documents" %}
                    <td>{{ entry['LINK'].strip() }}</td>
                    {% else %}
                    <td><a href="{{ entry['LINK'] }}" class="button-link" target="_blank">Documents</a></td>
                    {% endif %}
                    </form>
                </tr>
                {% endfor %}
            </tbody> 
        </table> 
    </div>
</body>
</html>
