<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/donor_home.css')}}">
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <label class="logo">HEALTH CONNECT</label>
            <ul>
                <li><a class="active" href="{{url_for('donor_home')}}">HOME</a></li>
                <li><a href="{{url_for('donor_history')}}">HISTORY</a></li>
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
            </ul>
        </nav>
        <div class="gallery">
        <div class="gallery-item">
            <a href="{{ url_for('donor_hospital', hospital_name='HOSPITAL_1') }}">
            <img src="static/photos/hospital1.jpg" alt="Photo 1">
            <div class="caption">Hospital 1</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="{{ url_for('donor_hospital', hospital_name='HOSPITAL_2') }}">
            <img src="static/photos/hospital2.jpg" alt="Photo 2">
            <div class="caption">Hospital 2</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="{{ url_for('donor_hospital', hospital_name='HOSPITAL_3') }}">
            <img src="static/photos/hospital3.jpg" alt="Photo 3">
            <div class="caption">Hospital 3</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="{{ url_for('donor_hospital', hospital_name='HOSPITAL_4') }}">
            <img src="static/photos/hospital4.jpg" alt="Photo 4">
            <div class="caption">Hospital 4</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="{{ url_for('donor_hospital', hospital_name='HOSPITAL_5') }}">
            <img src="static/photos/hospital1.jpg" alt="Photo 5">
            <div class="caption">Hospital 5</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="{{ url_for('donor_hospital', hospital_name='HOSPITAL_6') }}">
            <img src="static/photos/hospital2.jpg" alt="Photo 6">
            <div class="caption">Hospital 6</div>
            </a>
        </div>
        </div>
    </body>
</html>
