<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/hospital_doctor.css')}}">
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <label class="logo">{{hospital_name}}</label>
            <ul>
                <li><a class="active" href="{{url_for('patient_home')}}">HOME</a></li>
                <li><a href="{{url_for('patient_search')}}">SEARCH</a></li>
                <li><a href="{{url_for('patient_bank')}}">BLOOD BANK</a></li>
                <li><a href="{{url_for('patient_history')}}">HISTORY</a></li>
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
            </ul>
        </nav>
        <div class="container">
            <table > 
                <caption>Available Doctors</caption>
                <tbody> 
                    <tr> 
                        <th>NAME</th> 
                        <th>Specialization</th>
                        <th>FEE</th>
                        <th>Experience</th>
                        <th>Action</th>    
                    </tr>
                    {% for entry in data %}
                    <tr>
                        <form action="appointment" method="POST">
                        <td>{{ entry['NAME'].strip() }}</td>
                        <td>{{ entry['SPECIALIZATION'].strip() }}</td>
                        <td>{{ entry['FEE'] }}</td>
                        <td>{{ entry['EXPERIENCE'] }}</td>
                        <td><button type="submit" name="book" value="{{ entry['NAME'] }}">BOOK</button></td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody> 
            </table> 
        </div>
    </body>
</html>