<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/reception.css')}}">
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <label class="logo">{{session['email']}}</label>
            <ul>
                <li><a href="{{url_for('reception_home')}}">HOME</a></li>
                <li><a href="{{url_for('reception_check_by_date')}}">CHECK BY DATE</a></li>
                <li><a href="{{url_for('reception_donor')}}">BLOOD DONOR</a></li>
                <li><a class="active" href="{{url_for('reception_bank')}}">BLOOD BANK</a></li>
                <li><a href="{{url_for('reception_edit')}}">BLOOD EDIT</a></li>
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
            </ul>
        </nav>
        <div class="container">
            <table > 
                <caption>Available Blood in Hospitals(in liters)</caption>
                <tbody> 
                    <tr> 
                        <th>HOSPITAL</th> 
                        <th>O-</th>
                        <th>O+</th>
                        <th>AB-</th>
                        <th>AB+</th>
                        <th>A+</th>    
                        <th>A-</th>  
                        <th>B+</th>    
                        <th>B-</th>      
                    </tr>
                    {% for entry in data %}
                    <tr>
                        <form action="appointment" method="POST">
                        <td>{{ entry['HOSPITAL'].strip() }}</td>
                        <td>{{ entry['OP'] }}</td>
                        <td>{{ entry['ON'] }}</td>
                        <td>{{ entry['ABN'] }}</td>
                        <td>{{ entry['ABP'] }}</td>
                        <td>{{ entry['AP'] }}</td>
                        <td>{{ entry['AN'] }}</td>
                        <td>{{ entry['BP'] }}</td>
                        <td>{{ entry['BN'] }}</td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody> 
            </table> 
        </div>
    </body>
</html>